<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <h1 th:text="#{header}"></h1>
    <table>
        <thead>
        <tr>
            <th>Brand</th>
            <th>Model</th>
            <th>Year</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="car : ${cars}">
            <td><span th:text="${car.brand}"></span>
            <td><span th:text="${car.model}"></span>
            <td><span th:text="${car.year}"></span>
        </tr>
        </tbody>
    </table>
</body>